<h2>ログイン中です</h2>
<p> <%= link_to '新規ツイート' , new_tweet_path %> </p>
<p><%= link_to "ログアウト",top_logout_path %></p>
<p> <%= link_to 'ユーザー一覧', users_path%>


<% @tweets.each do |a| %>
    <% flg = 0 %>
    <p>
        [メッセージ]
        <%= a.message %>
        
        [ログインid]
        <% begin %>
            <%= User.find(a.user_id).uid %>
            
        <% rescue %>
            IDは削除されました
        <% end %>
        
        <% begin %><!-- 誰もいいねしていない場合errorが出るのを回避 -->
        <!-- u:良いねしているユーザ --->
        <!-- array:良いねしているユーザの配列 --->
            <% array=[] %>
            <% u = @likes.where(tweet_id: a.id) %>
            <% u.each do |u2| %>
                <%= u2 %>
                <% array.push(User.find(u2.user_id).uid) %>
            <!-- もしいいねしていたらflg true --->
                <% if User.find(u2.user_id).uid == session[:login_uid] %>
                    <% flg = 1 %>
                <% end %>
            <% end %>
        
        <% rescue %>
            <% u = 404 %>
        <% end %>
        <%= flg %>
        <% if flg == 1 %>
            <%= link_to 'いいね削除', like_path(a), method: :delete %>
        <% else %>
            <%= link_to 'いいね', likes_path(tweet_id: a.id), method: :post %>
        <% end %>
        
        <%= link_to '削除', "/tweets/#{a.id}", method: :delete %>
        
        
        
        
    </p>
    
<% end %>
<%= "ログインID: " + session[:login_uid] + "さん" %>