<h2>ログイン中です</h2>
<p> <%= link_to '新規ツイート' , new_tweet_path %> </p>
<p><%= link_to "ログアウト",top_logout_path %></p>
<p> <%= link_to 'ユーザー一覧', users_path%>


<% @tweets.each do |a| %>
    <% flg = 0 %>
    <p>
        [メッセージ]
        <%= a.message %>
        
        [ログインid]
        <% begin %>
            <%= User.find(a.user_id).uid %>
            
        <% rescue %>
            IDは削除されています
        <% end %>
        
        <% begin %>
            
            <% u = @likes.where(tweet_id: a.id) %>
            <% u.each do |u2| %>
                <% if User.find(u2.user_id).uid == session[:login_uid] %>
                    <% flg = 1 %>
                <% end %>
            <% end %>
        
        <% rescue %>
            
        <% end %>
        
        <% if flg == 1 %>
            <%= link_to 'いいね削除', like_path(a), method: :delete %>
        <% else %>
            <%= link_to 'いいね', likes_path(tweet_id: a.id), method: :post %>
        <% end %>
        
        <%= link_to '削除', "/tweets/#{a.id}", method: :delete %>
        
        
        
        
    </p>
    
<% end %>
<%= "ログインID: " + current_user.uid + "さん" %>